<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="menu">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">메인</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">회원관리<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="empInsert">입력</a></li>
            <li><a href="empOut">출력</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">상품관리<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="goodsInsert">입력</a></li>
            <li><a href="goodsOut">출력</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">도서관리<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="bookInsert">입력</a></li>
            <li><a href="bookOut">출력</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/empInsert" sec:authorize="isAnonymous()"><span class="glyphicon glyphicon-user"></span> 회원가입</a>
          <a href="#" sec:authorize="isAuthenticated()"><span th:text="${session.id}+ '님 반갑습니다.'"></span> </a>
        </li>
        <li><a href="/login" sec:authorize="isAnonymous()"><span class="glyphicon glyphicon-log-in"></span> 로그인</a>
            <a href="/logout" sec:authorize="isAuthenticated()"><span class="glyphicon glyphicon-log-in"></span> 로그아웃</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</body>

</html>
